name: "CI"
on: 
  pull_request:
    branches: ["main"]
  push:
    branches: ["main", "add-test-coverage-to-readme"]
    tags:
      - 'v*'

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: make release
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/ 
  bats-tests:
    name: Bats tests
    runs-on: ubuntu-latest
    needs: [build]
    container: madsbis/bayesh-bats-testing:v5
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist
      - name: Extract build artifact
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p build
          archive=$(find dist -maxdepth 1 -type f -name "*.tar*" -print -quit || true)
          tar -xzf "$archive" -C build
      - name: Test
        run: bats --print-output-on-failure tests
  go-tests:
    name: Go tests
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: go test -v -coverprofile=coverage.out ./src 
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4        
  release:
    name: Release binary
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs: [build, bats-tests, go-tests]
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**
