name: "CI"
on: 
  pull_request:
    branches: ["main"]
  push:
    tags:
      - 'v*'

jobs:
  bats-tests:
    name: Bats tests
    runs-on: ubuntu-latest
    container: madsbis/bayesh-bats-testing:v2
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Test
        run: bats --print-output-on-failure tests
  go-tests:
    name: Go tests
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: go test ./src -v
  build:
    name: Build binary
    runs-on: ubuntu-latest
    needs: [bats-tests, go-tests]
    env:
      CGO_ENABLED: 1
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: make build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*