name: "CI"
on: 
  pull_request:
    branches: ["main"]

jobs:
  bats-tests:
    name: Bats tests
    runs-on: ubuntu-latest
    container: madsbis/bayesh-bats-testing:v2
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Test
        run: bats --print-output-on-failure tests
  go-tests:
    name: Go tests
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
      - name: Install the latest version of Go
        uses: actions/setup-go@v2
        with:
          go-version: "latest"
      - name: Check out code
        uses: actions/checkout@v1
      - name: Run tests
        run: go test ./src -v