name: "CI"
on: 
  pull_request:
    branches: ["main"]
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Build
        run: make build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/ 
  bats-tests:
    name: Bats tests
    runs-on: ubuntu-latest
    needs: [build]
    container: madsbis/bayesh-bats-testing:v5
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: build
          path: build
      - name: Test
        run: bats --print-output-on-failure tests
        env:
          PATH: ${{ github.workspace }}/build:${{ env.PATH }}
  go-tests:
    name: Go tests
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run tests
        run: go test ./src -v
  release:
    name: Release binary
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs: [build, bats-tests, go-tests]
    steps:
      - name: Build release artifacts
        run: make release
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**
